[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = http://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = http://github.com/digitaltoad/vim-jade
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = http://github.com/lsdr/monokai
[submodule "bundle/vaxe"]
	path = bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
