[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = http://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = http://github.com/digitaltoad/vim-jade
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = http://github.com/lsdr/monokai
[submodule "bundle/vaxe"]
	path = bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
